#first{
	height: 100px;
	width: 800px;
	border:solid red;
	border-radius: 5px;
	background: yellow;
	text-align: center;
}

#score{
	height: 50px;
	width: 725px;
	background: green;
	border: solid pink;
	border-radius: 5px;
	text-align: center;
	padding: 40px;
}

#TheQuestions{
	height: 600px;
	width: 800px;
	background: pink;
	border: solid red;
	border-radius: 5px;
	text-align: center;
}

#timer{
	text-align: center;
	border: sold blue;
	width: 800px;
}